apiVersion: v1
kind: Namespace
metadata:
  name: bpfman
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: bpfman-daemon-go
  namespace: bpfman
  labels:
    app: bpfman-daemon-go
spec:
  selector:
    matchLabels:
      app: bpfman-daemon-go
  template:
    metadata:
      labels:
        app: bpfman-daemon-go
    spec:
      serviceAccountName: bpfman-daemon-go
      containers:
        - name: bpfman
          image: bpfman:dev
          imagePullPolicy: IfNotPresent
          args: ["serve", "--csi-support", "--runtime-dir", "/run/bpfman"]
          securityContext:
            privileged: true
          volumeMounts:
            - name: bpffs
              mountPath: /sys/fs/bpf
              mountPropagation: Bidirectional
            - name: tracefs
              mountPath: /sys/kernel/tracing
              readOnly: true
            - name: go-bpfman-sock
              mountPath: /run/bpfman-sock
            - name: go-bpfman-state
              mountPath: /run/bpfman
            - name: plugin-dir
              mountPath: /run/bpfman/csi
              mountPropagation: Bidirectional
            - name: pods-mount-dir
              mountPath: /var/lib/kubelet/pods
              mountPropagation: Bidirectional

        - name: node-driver-registrar
          image: registry.k8s.io/sig-storage/csi-node-driver-registrar:v2.9.0
          args:
            - --v=5
            - --csi-address=/csi/csi.sock
            - --kubelet-registration-path=/var/lib/kubelet/plugins/csi.go-bpfman.io/csi.sock
          volumeMounts:
            - name: plugin-dir
              mountPath: /csi
            - name: registration-dir
              mountPath: /registration

      volumes:
        - name: bpffs
          hostPath:
            path: /sys/fs/bpf
            type: DirectoryOrCreate
        - name: tracefs
          hostPath:
            path: /sys/kernel/tracing
            type: Directory
        - name: go-bpfman-sock
          hostPath:
            path: /run/go-bpfman-sock
            type: DirectoryOrCreate
        - name: go-bpfman-state
          hostPath:
            path: /run/go-bpfman
            type: DirectoryOrCreate
        - name: pods-mount-dir
          hostPath:
            path: /var/lib/kubelet/pods
            type: Directory
        - name: plugin-dir
          hostPath:
            path: /var/lib/kubelet/plugins/csi.go-bpfman.io
            type: DirectoryOrCreate
        - name: registration-dir
          hostPath:
            path: /var/lib/kubelet/plugins_registry
            type: Directory
      tolerations:
        - operator: Exists
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: bpfman-daemon-go
  namespace: bpfman
