# Example pod using bpfman-aware mode
#
# Prerequisites:
# 1. bpfman must be running with --csi-support
# 2. Load a program with metadata:
#    kubectl -n kube-system exec -it deploy/bpfman -- \
#      bpfman load -m bpfman.io/ProgramName=my-stats \
#      /opt/bpf/stats.o stats /sys/fs/bpf/bpfman/my-stats
apiVersion: v1
kind: Pod
metadata:
  name: bpffs-app-pod-bpfman
  namespace: default
spec:
  terminationGracePeriodSeconds: 1
  containers:
    - name: app
      image: busybox
      command: ["sleep", "infinity"]
      volumeMounts:
        - name: bpf-maps
          mountPath: /bpf
  volumes:
    - name: bpf-maps
      csi:
        driver: csi.go-bpfman.io
        volumeAttributes:
          csi.bpfman.io/program: "my-stats"
          csi.bpfman.io/maps: "stats_map"
