# Example pod using legacy bind-mount mode
# This mode simply bind-mounts an existing bpffs path to the container.
apiVersion: v1
kind: Pod
metadata:
  name: bpffs-app-pod
  namespace: default
spec:
  terminationGracePeriodSeconds: 1
  containers:
    - name: app
      image: busybox
      command: ["sleep", "infinity"]
      volumeMounts:
        - name: bpf-volume
          mountPath: /bpf
  volumes:
    - name: bpf-volume
      csi:
        driver: csi.bpfman.io
        volumeAttributes:
          # Legacy mode: bind-mount an existing bpffs path
          mapPath: "/sys/fs/bpf/test"
