apiVersion: v1
kind: Pod
metadata:
  name: bpffs-app-pod
  namespace: default
spec:
  terminationGracePeriodSeconds: 1
  containers:
    - name: app
      image: busybox
      command: ["sleep", "infinity"]
      volumeMounts:
        - name: bpf-volume
          mountPath: /bpf
  volumes:
    - name: bpf-volume
      csi:
        driver: bpffs.csi.frobware.io
        volumeAttributes:
          mapPath: "/sys/fs/bpf/test"
