apiVersion: v1
kind: Pod
metadata:
  name: bpfman-test
  namespace: default
spec:
  containers:
  - name: bpfman
    image: bpfman:dev
    command: ["sleep", "infinity"]
    securityContext:
      privileged: true
    volumeMounts:
    - name: bpffs
      mountPath: /sys/fs/bpf
      mountPropagation: Bidirectional
  volumes:
  - name: bpffs
    hostPath:
      path: /sys/fs/bpf
      type: DirectoryOrCreate
  hostNetwork: true
  restartPolicy: Never
